@page "/"
@using EmployeeMangement.Models.Employee
@inherits EmployeesBase

<PageTitle>Employees</PageTitle>

<h3 class="mt-3">Employees List</h3>

@if(Employees == null){
    <div class="spinner"></div>
}else{
    <div class="container">
    <div class="row">
    @foreach(var employee in Employees.Results){
    <div class="col-md-4">
            <div class="card m-1">
                <div class="card-header">
                            @employee.FirstName @employee.LastName
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-primary m-1">View</a>

                    <a href="#" class="btn btn-primary m-1">Edit</a>

                    <a href="#" class="btn btn-danger m-1">Delete</a>
                </div>
            </div>
    </div>
    }
    </div>
</div>

}
